$dot-radius: 0.3rem;
$dot-size: $dot-radius * 2;
$offset: $dot-radius * 1.5;

.dates-day {
  position: relative;
}

.dates-top {
  display: inline-block;
  position: absolute;
  left: $dot-radius;
  top: 0;
  height: $offset;
  z-index: 0;
}

.dates-dot {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  left: $dot-radius * 0.5; // save room for today's larger size
  top: $offset !important;
  height: $dot-size !important;
  width: $dot-size !important;
  z-index: 1;
  background-color: #228b21 !important;

  &.dates-bg-today {
    left: 0;
    top: $offset - $dot-radius;
    height: $dot-size * 1.5;
    width: $dot-size * 1.5;
  }
}

.dates-line {
  display: inline-block;
  position: absolute;
  top: $offset + $dot-size;
  bottom: 0;
  z-index: 0;
}

.dates-line {
  left: $dot-radius !important;
}

.dates-bg-today {
  background: #ffdb87;
}
