.grade-bar {
  rect {
    height: 6px;
  }

  .grade-bar__base {
    fill: $light-300;
  }

  .grade-bar__divider {
    fill: #228B22;
    width: 1px;
  }

  .grade-bar--passing {
    fill: #228B22;
  }

  .grade-bar--current-passing {
    fill: $app-primary-500;
  }

  .grade-bar--current-non-passing {
    fill: $accent-b;
  }
}

.arrow {
  margin: 0 !important;
}

#minimum-grade-tooltip {
  background: #228B22;
  border: none;
  .arrow::after {
    border-bottom-color: #228B22;
  }
}

#passing-grade-tooltip {
  background: $app-primary-500 !important;
  color: white !important;
  .arrow::after {
    border-top-color: $app-primary-500 !important;
  }
}

#non-passing-grade-tooltip {
  background: $app-primary-500 !important;

  .arrow::before {
    border-bottom-color: $app-primary-500 !important;
  }
  .arrow::after {
    border-top-color: $app-primary-500 !important;
  }
}
