.grade-bar {
  rect {
    height: 6px;
  }

  .grade-bar__base {
    fill:#228B22;
  }

  .grade-bar__divider {
    fill: #228B22;
    width: 1px;
  }

  .grade-bar--passing {
    fill: #228B22;
  }

  .grade-bar--current-passing {
    fill: #228B22;
  }

  .grade-bar--current-non-passing {
    fill: #228B22;
  }
}

.arrow {
  margin: 0 !important;
}

#minimum-grade-tooltip {
  background: #228B22;
  border: none;
  .arrow::after {
    border-bottom-color: #228B22 !important;
  }
  .arrow::before {
    border-top-color: #228B22 !important;
  }
}

#passing-grade-tooltip {
  background: #228B22 !important;
  color: white !important;
  .arrow::after {
    border-top-color: #228B22 !important;
  }
  .arrow::before {
    border-top-color: #228B22 !important;
  }
}

#non-passing-grade-tooltip {
  background: #228B22 !important;
  .arrow::after {
    border-top-color: #228B22 !important;
  }

  .arrow {
        &:before {
            border-top-color: #228B22 !important;
        }
        &:after {
            border-top-color: #228B22 !important;
        }
    }
}
