$app-primary-50: #E9F3E9;
$app-primary-100: #BADBBA;
$app-primary-200: #99CA99;
$app-primary-300: #6BB16B;
$app-primary-400: #4EA24E;
$app-primary-500: #228B22;
$app-primary-600: #1F7E1F;
$app-primary-700: #186318;
$app-primary-800: #134C13;
$app-primary-900: #0E3A0E;

$app-text-header: #272D27;
